<a href="https://colab.research.google.com/github/SudipNeupane199/code_snippets/blob/master/pythonclassses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisset={"apple","mango","banaba"}
for x in thisset:
    print(x)

apple
banaba
mango

In [ ]:
thisset={"apple","mango","banaba"}
thisset.update(("orange","cherry",1))
print(thisset)

{1, 'apple', 'cherry', 'mango', 'banaba', 'orange'}

In [ ]:
thisset={"apple","mango","banaba"}
thisset.remove("apple")
print(thisset)

{'banaba', 'mango'}

In [ ]:
a={1,2,3,4}
b={2,3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

## ***`[this is a dictionary ](https://)`***

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
for x in thisdict:
    print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
brand
model
year

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"]=2020
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
for x, y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 1964

In [ ]:
n=int(input("enter a number:"))
d=dict()
for i in range(1,n+1):
  d[i]=i*i
print(d)

enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

moduels of function

In [ ]:
n=int(input("enter a number1:"))
nn=int(input("enter a number2:"))
def add(n,nn):
    print(n+nn) 
add(n,nn)

enter a number1:6
enter a number2:8
14

In [ ]:
a=int(input("enter a number:"))
def factroil(a):
    for i in range(1,n+1):
        i=i+1
        print(i)
      
factroil(a)

enter a number:5
2
3
4
5
6
7

In [ ]:
def my_function(*kids):
    print("the youngest child is"+kids[2])

my_function("Emil", "Tobias", "Linus")

the youngest child isLinus

In [ ]:
def my_function(child2,child3,child1):
  print("the youtest child is "+child1)
my_function(child1="email",child2="facebook",child3='whatsup')

the youtest child is email

In [ ]:
def my_fuctio(food):
    for x in food:
      print(x)
fruits=['apple',"bababa"]
my_fuctio(fruits)

apple
bababa

SyntaxError: ignored

lamda argument and expression

In [ ]:
double=lambda x:x*2
print(double(5))

10

In [ ]:
mylist=[1,3,5,3,4,8,5]
newlist=list(filter(lambda x:(x%2=0),mylist))
print(mylist)

SyntaxError: ignored

CLASSES AND OBJECTS

In [8]:
class Person:
    "This is a person class"
    age = 10

    def greet(self):
        print('Hello')


# Output: 10
print(Person.age)

# Output: <function Person.greet>
print(Person.greet)

10
<function Person.greet at 0x7f0c9c1bd0e0>

In [11]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person("sudip",21)
print(p1.name)
print(p1.age)

sudip
21

In [23]:
class employe:
    def __init__(self,name,id):
        self.name=name
        self.id=id
    def get_data(self):
        print(f'{self.name},{self.id}')
emp1=employe("sudip",753)
emp2=employe("rayan",702)
emp1.get_data()
emp2.get_data()

sudip,750
rayan,702

In [26]:
class Bank_Account:
    def __init__(self):
      self.balance=0
      print("hello,welcome to the Deposit and withdrawal machine:")
    def __init__(self):
        amount=float(input("enter amout to be Deposited:"))
        self.balance+=amount
        print("\n amount Deposit:",amount)
    def withdraw(self):
        amount=float(input("enter amount to withdrawn:"))
        if self.balance>=amount:
            self.balance-=amount
            print("/n you withdrew")
        else:
            print("\n insufficient balance")
    def display(self):
        print("\n Net Available Balance=",self.balance)
s=Bank_Account()
s.Deposit()
s.withdraw()
s.display

enter amout to be Deposited:1000

AttributeError: ignored

In [27]:
class Polygon:
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]

    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])
class Triangle(Polygon):
    def __init__(self):
        Polygon.__init__(self,3)

    def findArea(self):
        a, b, c = self.sides
        # calculate the semi-perimeter
        s = (a + b + c) / 2
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of the triangle is %0.2f' %area)
t = Triangle()
t.inputSides()
t.findArea()

Enter side 1 : 12
Enter side 2 : 13
Enter side 3 : 14
The area of the triangle is 72.31